# CMake 
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

# Rider
*/.idea

# Build
RayEngine/build/*
RayEngine/cmake-build-debug
RayEngine/cmake-build-release
RayEngine/cmake-build-clang-19---debug
RayEngine/cmake-build-clang-19---release

# Cache
RayEngine/content/Cache/*

# Imgui
imgui.ini

# Nakama
.cookie
.env
local.yml
C_Database.json

# Obsidian
*/.obsidian

