# CMake 
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

# Rider
*/.idea

# Build
Engine/build/*
Engine/cmake-build-debug
Engine/cmake-build-release
Engine/cmake-build-clang-19---debug
Engine/cmake-build-clang-19---release
Engine/cmake-build-win

# Cache
Engine/content/Cache/*
Engine/content/User/*

# Imgui
imgui.ini

# Nakama
.cookie
.env
C_Database.json

# Obsidian
*/.obsidian

