name: build-web

on:
  push:
    branches: [ main ]

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: mymindstorm/setup-emsdk@v14
        with:
          version: latest

      - name: Configure
        run: emcmake cmake -B build -S Engine -DCMAKE_BUILD_TYPE=Release

      - name: Build
        run: cmake --build build

      - uses: actions/upload-pages-artifact@v3
        with:
          path: build

  deploy:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/deploy-pages@v4
